.container {
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
}
  
.left, .right {
    flex: 1;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 45%;
}

.top {
    display:-ms-inline-flexbox;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;    
}